In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [2]:
csvfile = '../weatherPy/weather_data_cities.csv'
weather_df = pd.read_csv(csvfile)
weather_df.head()

,City,Latitude,Longitude,Max Temperature (F),Humidity,Cloudiness,Wind Speed,County,Date
0,Maragogi,-9.0122,-35.2225,25.56,84,46,4.00,BR,1652560648
1,Poronaysk,49.2167,143.1167,2.99,82,100,7.77,RU,1652560649
2,Yar-Sale,66.8333,70.8333,1.84,100,100,4.28,RU,1652560649
3,Loa Janan,-0.5830,117.0950,23.56,99,100,0.69,ID,1652560650
4,Yellowknife,62.4560,-114.3525,15.31,26,75,6.71,CA,1652560650

In [3]:
fig = gmaps.figure()

locations = weather_df[['Latitude', 'Longitude']].astype(float)
humidityvalue = weather_df['Humidity'].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights = humidityvalue, 
                                 dissipating=False, max_intensity=100, 
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
narrow_df = weather_df.loc[(weather_df['Max Temperature (F)'].astype(int) < 80) | (weather_df['Max Temperature (F)'].astype(int) > 70), :]
narrower_df = narrow_df.loc[(narrow_df['Wind Speed'] < 10), :]
hotel_df = narrower_df.loc[(narrower_df['Cloudiness'] == 0), :]
hotel_df['Hotel Name'] = ''
hotel_df = hotel_df.set_index('City')
hotel_df.head()
#len(hotel_df)

/var/folders/13/kd_r0llj6fs2w1lbk0c_lkh80000gn/T/ipykernel_4817/2047505367.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ''

,Latitude,Longitude,Max Temperature (F),Humidity,Cloudiness,Wind Speed,County,Date,Hotel Name
City,,,,,,,,,
Arraial do Cabo,-22.9661,-42.0278,22.98,73,0,3.60,BR,1652560655,
Rikitea,-23.1203,-134.9692,24.54,70,0,9.59,PF,1652560656,
Daurāla,29.1167,77.6833,31.87,9,0,2.62,IN,1652560657,
Mitchell,43.7094,-98.0298,21.73,26,0,5.14,US,1652560668,
Saint George,37.1041,-113.5841,33.77,8,0,2.06,US,1652560412,

In [5]:
lat = hotel_df.iloc[:, 0].astype(float)
lng = hotel_df.iloc[:,1].astype(float)

print(lat)

#url = url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY"

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
radius = 5000

parameters = {
    'location' : f'{lat},{lng}',
    'type' : 'lodging',
    'radius': radius,
    'key' : g_key
}

response = requests.get(base_url, parameters)
data = response.json()
print(data)
#print(json.dumps(data, indent = 4, sort_keys= True))
    
#for coordinate in coordinates:
 #   parameters = {
  #  'location' : coordinate,
   # 'types' : 'lodging',
    #'radius': 5000,
    #'rankby' : 'distance',
    #'key' : g_key
#}
 #   response = requests.get(base_url, parameters).json()
  #  print(response)
   # hotel_df['Hotel Name'].append(response['results'][0]['name'], ignore_index = True)

City
Arraial do Cabo        -22.9661
Rikitea                -23.1203
Daurāla                 29.1167
Mitchell                43.7094
Saint George            37.1041
                         ...
Thatta                  24.7475
Murray                  40.6669
Manyana                -23.4000
Makkah al Mukarramah    21.4267
Saurimo                 -9.6608
Name: Latitude, Length: 84, dtype: float64
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}